**EXTRACCIÓN DE DATOS DE MÉXICO**

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
data1=pd.read_csv('Mexico.csv')

In [29]:
data0=data1.copy()

In [30]:
data0 = data0.drop(columns=["id", "listing_url", "scrape_id", "source", "picture_url", "host_id", "host_url", "host_name","host_since","host_about","host_thumbnail_url","host_picture_url","host_neighbourhood","host_listings_count","host_total_listings_count","neighbourhood_group_cleansed","calendar_last_scraped","first_review","review_scores_accuracy","license","calculated_host_listings_count","calculated_host_listings_count_entire_homes","calculated_host_listings_count_private_rooms","calculated_host_listings_count_shared_rooms"])

In [31]:
data3=data0.copy()

In [32]:
data0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26582 entries, 0 to 26581
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   last_scraped                 26582 non-null  object
 1   name                         26582 non-null  object
 2   description                  25649 non-null  object
 3   neighborhood_overview        15687 non-null  object
 4   host_location                21141 non-null  object
 5   host_response_time           22960 non-null  object
 6   host_response_rate           22960 non-null  object
 7   host_acceptance_rate         23713 non-null  object
 8   host_is_superhost            25073 non-null  object
 9   host_verifications           26582 non-null  object
 10  host_has_profile_pic         26582 non-null  object
 11  host_identity_verified       26582 non-null  object
 12  neighbourhood                15687 non-null  object
 13  neighbourhood_cleansed       26582 non-null  object
 14  latitude                     26582 non-null  float64
 15  longitude                    26582 non-null  float64
 16  property_type                26582 non-null  object
 17  room_type                    26582 non-null  object
 18  accommodates                 26582 non-null  int64
 19  bathrooms                    23667 non-null  float64
 20  bathrooms_text               26556 non-null  object
 21  bedrooms                     25716 non-null  float64
 22  beds                         23629 non-null  float64
 23  amenities                    26582 non-null  object
 24  price                        23655 non-null  object
 25  minimum_nights               26582 non-null  int64
 26  maximum_nights               26582 non-null  int64
 27  minimum_minimum_nights       26582 non-null  int64
 28  maximum_minimum_nights       26582 non-null  int64
 29  minimum_maximum_nights       26582 non-null  int64
 30  maximum_maximum_nights       26582 non-null  int64
 31  minimum_nights_avg_ntm       26582 non-null  float64
 32  maximum_nights_avg_ntm       26582 non-null  float64
 33  calendar_updated             0 non-null      float64
 34  has_availability             25574 non-null  object
 35  availability_30              26582 non-null  int64
 36  availability_60              26582 non-null  int64
 37  availability_90              26582 non-null  int64
 38  availability_365             26582 non-null  int64
 39  number_of_reviews            26582 non-null  int64
 40  number_of_reviews_ltm        26582 non-null  int64
 41  number_of_reviews_l30d       26582 non-null  int64
 42  last_review                  22926 non-null  object
 43  review_scores_rating         22926 non-null  float64
 44  review_scores_cleanliness    22925 non-null  float64
 45  review_scores_checkin        22925 non-null  float64
 46  review_scores_communication  22925 non-null  float64
 47  review_scores_location       22925 non-null  float64
 48  review_scores_value          22925 non-null  float64
 49  instant_bookable             26582 non-null  object
 50  reviews_per_month            22926 non-null  float64
dtypes: float64(15), int64(14), object(22)
memory usage: 10.3+ MB

In [33]:
valores_nulos=data0.isnull().sum()          
valores_nulos.to_csv("Variables_nulas")

**APLICACIÓN DE LOS MÉTODOS**

description

In [34]:
#Sustituir valores nulos con un string ya que la variables es una descripción abierta y no estandarizada
data0["description"]=data0["description"].fillna("description without infomaton")

neighborhood_overview

In [35]:
#Sustituir valores nulos con un string ya que la variables es una descripción abierta y no estandarizada
data0["neighborhood_overview"]=data0["neighborhood_overview"].fillna("no neighborhood overview")

host_location

In [36]:
#Sustituir valores nulos con un string establecido ya que la mayoria de los host_location pertenecen a la misma ciudad/país
data0["host_location"]=data0["host_location"].fillna("Mexico")

host_response_time

In [37]:
#Se coloca el tiempo maximo que alguien puede tardar en contestar ya que no afecta a la respuesta en la app, es decir, puede tardar menos de ello y se consideraria "mejor" pero no "peor"
data0["host_response_time"]=data0["host_response_time"].fillna("a few days or more")

host_response_rate

In [38]:
#Sustiruye los valores nulos por el promedio para mantener las estadisticas similares 

#Eliminar caracteres no numéricos (como '%', espacios, etc.)
data0['host_response_rate'] = data0['host_response_rate'].str.replace('%', '').str.strip()

#Convertir la columna a tipo float (porque es posible que haya valores decimales)
data0['host_response_rate'] = pd.to_numeric(data0['host_response_rate'], errors='coerce')
data0['host_response_rate']=data0['host_response_rate'].fillna(round(data0 ['host_response_rate'].mean(),0))

host_acceptance_rate

In [39]:
#Sustiruye los valores nulos por el promedio para mantener las estadisticas similares 

#Eliminar caracteres no numéricos (como '%', espacios, etc.)
data0['host_acceptance_rate'] = data0['host_acceptance_rate'].str.replace('%', '').str.strip()

#Convertir la columna a tipo float (porque es posible que haya valores decimales)
data0['host_acceptance_rate'] = pd.to_numeric(data0['host_acceptance_rate'], errors='coerce')
data0['host_acceptance_rate']=data0['host_acceptance_rate'].fillna(round(data0 ['host_acceptance_rate'].mean(),0))

host_is_superhost

In [40]:
#Sustituir valores nulos con un string al ser de respuesta boleana pero de tipo objeto
data0["host_is_superhost"]=data0["host_is_superhost"].fillna("f")

neighbourhood

In [41]:
#Sustituir valores nulos con un string y se coloca México de manera generalizada
data0["neighbourhood"]=data0["neighbourhood"].fillna("México")

In [42]:
#Rellena  con un valor númerico, en este caso 1, ya que todos cuentan con al mneos un baño
data0['bathrooms']=data0['bathrooms'].fillna(1)

bathrooms

In [43]:
#Sustituir valores nulos con un string en este caso, 1 bath como preestablecido
data0["bathrooms_text"]=data0["bathrooms_text"].fillna("1 bath")

bedrooms

In [44]:
#Rellena  con un valor númerico, en este caso 1, ya que todos cuentan con al mneos un cuarto
data0['bedrooms']=data0['bedrooms'].fillna(1)

beds

In [45]:
#Rellena  con un valor númerico, en este caso 1, ya que todos cuentan con al mneos una cama
data0['beds']=data0['beds'].fillna(1)

price

In [46]:
#Se utilizo el metodos de sustitucion de un entero ya que toda la columna se encontraba vacia, asignandole un valor estandarizado
data0['price']=data0['price'].fillna(100)

calendar_updated

In [47]:
#Sustituir valores nulos con una fecha de valor nulo
data0["calendar_updated"]=data0["calendar_updated"].fillna("0000-00-00")

has_availability

In [48]:
#Sustituir valores nulos con un string f =false ya que al no tener respuesta, no se puede suponer un verdadero
data0["has_availability"]=data0["has_availability"].fillna("f")

last_review

In [49]:
#Sustituir valores nulos con una fecha de valor nulo
data0["last_review"]=data0["last_review"].fillna("0000-00-00")

review_scores_rating

In [50]:
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data0['review_scores_rating']=data0['review_scores_rating'].fillna(round(data0 ['review_scores_rating'].median(),2))

review_scores_cleanliness

In [51]:
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data0['review_scores_cleanliness']=data0['review_scores_cleanliness'].fillna(round(data0 ['review_scores_cleanliness'].median(),2))

review_scores_checkin

In [52]:
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data0['review_scores_checkin']=data0['review_scores_checkin'].fillna(round(data0 ['review_scores_checkin'].median(),2))

review_scores_communication

In [53]:
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data0['review_scores_communication']=data0['review_scores_communication'].fillna(round(data0 ['review_scores_communication'].median(),2))

review_scores_location

In [54]:
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data0['review_scores_location']=data0['review_scores_location'].fillna(round(data0 ['review_scores_location'].median(),2))

review_scores_value

In [55]:
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data0['review_scores_value']=data0['review_scores_value'].fillna(round(data0 ['review_scores_value'].median(),2))

reviews_per_month

In [56]:
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data0['reviews_per_month']=data0['reviews_per_month'].fillna(round(data0 ['reviews_per_month'].median(),2))

In [57]:
valores_nulos=data0.isnull().sum().sum()  
valores_nulos

np.int64(0)

In [58]:
data0.to_csv("Valores_Nulos_Limpios_México.csv")