In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
data1=pd.read_csv('Copehnague.csv')
data1

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,338928,https://www.airbnb.com/rooms/338928,20240928011742,2024-09-28,previous scrape,Art&Design apt in hip Nørrebro - 2BR,"Bright, cozy, and well-furnished 3rd floor des...",The apartment is located in trendy Nørrebro wi...,https://a0.muscache.com/pictures/35e8972e-36a9...,113348,...,4.95,4.90,4.79,NaN,f,1,1,0,0,0.66
1,31094,https://www.airbnb.com/rooms/31094,20240928011742,2024-09-28,previous scrape,"Beautiful, spacious, central, renovated Penthouse","Welcome to our home, we hope you will enjoy Wo...","What else is nearby?<br />To be honest, We thi...",https://a0.muscache.com/pictures/miso/Hosting-...,129976,...,4.82,4.80,4.53,NaN,f,1,1,0,0,0.11
2,32379,https://www.airbnb.com/rooms/32379,20240928011742,2024-09-28,previous scrape,"155 m2 artist flat on Vesterbro, with 2 bathrooms",You enter a narrow entrance and feel the good ...,"Værnedamsvej area is super hip area, we call i...",https://a0.muscache.com/pictures/miso/Hosting-...,140105,...,4.91,4.89,4.71,NaN,f,2,1,1,0,0.48
3,32841,https://www.airbnb.com/rooms/32841,20240928011742,2024-09-28,previous scrape,Cozy flat for Adults/Quiet for kids,Our flat is placed in a Central AND Quiet neig...,NaN,https://a0.muscache.com/pictures/28047599/8efd...,142143,...,5.00,4.50,4.50,NaN,f,1,1,0,0,0.04
4,38499,https://www.airbnb.com/rooms/38499,20240928011742,2024-09-28,city scrape,0 min. from everything in Cph.,It doesn't get more central than this. Histori...,Area: <br />This is the eye of Cph. right betw...,https://a0.muscache.com/pictures/hosting/Hosti...,122489,...,5.00,4.93,4.89,NaN,f,1,1,0,0,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21523,1254352491146003413,https://www.airbnb.com/rooms/1254352491146003413,20240928011742,2024-09-28,city scrape,Charming apartment by the lakes,"In this stylish and well-appointed apartment, ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,42889681,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
21524,1254371849913458686,https://www.airbnb.com/rooms/1254371849913458686,20240928011742,2024-09-28,city scrape,Bright and Spacious apartment,Bright and spacious apartment - close to inner...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,59129681,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
21525,1254443354802103518,https://www.airbnb.com/rooms/1254443354802103518,20240928011742,2024-09-28,city scrape,Moderne lejlighed i København,"Here is plenty of room for the family, while y...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,39716311,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
21526,1254466883779639579,https://www.airbnb.com/rooms/1254466883779639579,20240928011742,2024-09-28,city scrape,Hyggelig lejlighed i København,Cozy apartment with good space. The apartment ...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,483034715,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
21527,1254482947003433117,https://www.airbnb.com/rooms/1254482947003433117,20240928011742,2024-09-28,city scrape,Hel lejlighed + gratis parkering,Enjoy the simple life of this peaceful and cen...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,548664336,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [10]:
data2=data1.copy()

In [11]:
data2 = data2.drop(columns=["id", "listing_url", "scrape_id", "source", "picture_url", "host_id", "host_url", "host_name","host_since","host_about","host_thumbnail_url","host_picture_url","host_neighbourhood","host_listings_count","host_total_listings_count","neighbourhood_group_cleansed","calendar_last_scraped","first_review","review_scores_accuracy","license","calculated_host_listings_count","calculated_host_listings_count_entire_homes","calculated_host_listings_count_private_rooms","calculated_host_listings_count_shared_rooms"])

In [12]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21528 entries, 0 to 21527
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   last_scraped                 21528 non-null  object
 1   name                         21528 non-null  object
 2   description                  20828 non-null  object
 3   neighborhood_overview        8731 non-null   object
 4   host_location                18076 non-null  object
 5   host_response_time           14058 non-null  object
 6   host_response_rate           14058 non-null  object
 7   host_acceptance_rate         17163 non-null  object
 8   host_is_superhost            21310 non-null  object
 9   host_verifications           21527 non-null  object
 10  host_has_profile_pic         21527 non-null  object
 11  host_identity_verified       21527 non-null  object
 12  neighbourhood                8731 non-null   object
 13  neighbourhood_cleansed       21528 non-null  object
 14  latitude                     21528 non-null  float64
 15  longitude                    21528 non-null  float64
 16  property_type                21528 non-null  object
 17  room_type                    21528 non-null  object
 18  accommodates                 21528 non-null  int64
 19  bathrooms                    13095 non-null  float64
 20  bathrooms_text               21522 non-null  object
 21  bedrooms                     20855 non-null  float64
 22  beds                         13091 non-null  float64
 23  amenities                    21528 non-null  object
 24  price                        13098 non-null  object
 25  minimum_nights               21528 non-null  int64
 26  maximum_nights               21528 non-null  int64
 27  minimum_minimum_nights       21528 non-null  int64
 28  maximum_minimum_nights       21528 non-null  int64
 29  minimum_maximum_nights       21528 non-null  int64
 30  maximum_maximum_nights       21528 non-null  int64
 31  minimum_nights_avg_ntm       21528 non-null  float64
 32  maximum_nights_avg_ntm       21528 non-null  float64
 33  calendar_updated             0 non-null      float64
 34  has_availability             21105 non-null  object
 35  availability_30              21528 non-null  int64
 36  availability_60              21528 non-null  int64
 37  availability_90              21528 non-null  int64
 38  availability_365             21528 non-null  int64
 39  number_of_reviews            21528 non-null  int64
 40  number_of_reviews_ltm        21528 non-null  int64
 41  number_of_reviews_l30d       21528 non-null  int64
 42  last_review                  19100 non-null  object
 43  review_scores_rating         19100 non-null  float64
 44  review_scores_cleanliness    19099 non-null  float64
 45  review_scores_checkin        19099 non-null  float64
 46  review_scores_communication  19099 non-null  float64
 47  review_scores_location       19098 non-null  float64
 48  review_scores_value          19099 non-null  float64
 49  instant_bookable             21528 non-null  object
 50  reviews_per_month            19100 non-null  float64
dtypes: float64(15), int64(14), object(22)
memory usage: 8.4+ MB

In [79]:
valores_nulos=data2.isnull().sum()          
valores_nulos

last_scraped                   0
name                           0
description                    0
neighborhood_overview          0
host_location                  0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_verifications             0
host_has_profile_pic           0
host_identity_verified         0
neighbourhood                  0
neighbourhood_cleansed         0
latitude                       0
longitude                      0
property_type                  0
room_type                      0
accommodates                   0
bathrooms                      0
bathrooms_text                 0
bedrooms                       0
beds                           0
amenities                      0
price                          0
minimum_nights                 0
maximum_nights                 0
minimum_minimum_nights         0
maximum_minimum_nights         0
minimum_maximum_nights         0
maximum_maximum_nights         0
minimum_nights_avg_ntm         0
maximum_nights_avg_ntm         0
calendar_updated               0
has_availability               0
availability_30                0
availability_60                0
availability_90                0
availability_365               0
number_of_reviews              0
number_of_reviews_ltm          0
number_of_reviews_l30d         0
last_review                    0
review_scores_rating           0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
instant_bookable               0
reviews_per_month              0
dtype: int64

In [14]:
valores_nulos.to_csv("valores_nulos")

In [15]:
#METODO4
#Sustituir valores nulos con un string ya que la variables es una descripción abierta y no estandarizada
data2["description"]=data2["description"].fillna("description without infomaton")

In [16]:
#METODO4
#Sustituir valores nulos con un string ya que la variables es una descripción abierta y no estandarizada
data2["neighborhood_overview"]=data2["neighborhood_overview"].fillna("no neighborhood overview")

In [17]:
#METODO4
#Sustituir valores nulos con un string establecido ya que la mayoria de los host_location pertenecen a la misma ciudad/país
data2["host_location"]=data2["host_location"].fillna("Copehnague")

In [18]:
#METODO4
#Se coloca el tiempo maximo que alguien puede tardar en contestar ya que no afecta a la respuesta en la app, es decir, puede tardar menos de ello y se consideraria "mejor" pero no "peor"
data2["host_response_time"]=data2["host_response_time"].fillna("a few days or more")

In [19]:
#METODO1
#Sustiruye los valores nulos por el promedio para mantener las estadisticas similares 

#Eliminar caracteres no numéricos (como '%', espacios, etc.)
data2['host_response_rate'] = data2['host_response_rate'].str.replace('%', '').str.strip()

#Convertir la columna a tipo float (porque es posible que haya valores decimales)
data2['host_response_rate'] = pd.to_numeric(data2['host_response_rate'], errors='coerce')
data2['host_response_rate']=data2['host_response_rate'].fillna(round(data2 ['host_response_rate'].mean(),0))

In [24]:
print(data2["host_acceptance_rate"].dtypes)

object

In [25]:
#METODO1
#Sustiruye los valores nulos por el promedio para mantener las estadisticas similares 

#Eliminar caracteres no numéricos (como '%', espacios, etc.)
data2['host_acceptance_rate'] = data2['host_acceptance_rate'].str.replace('%', '').str.strip()

#Convertir la columna a tipo float (porque es posible que haya valores decimales)
data2['host_acceptance_rate'] = pd.to_numeric(data2['host_acceptance_rate'], errors='coerce')
data2['host_acceptance_rate']=data2['host_acceptance_rate'].fillna(round(data2 ['host_acceptance_rate'].mean(),0))

In [27]:
#METODO4
#Sustituir valores nulos con un string al ser de respuesta boleana pero de tipo objeto
data2["host_is_superhost"]=data2["host_is_superhost"].fillna("f")

In [30]:
#METODO5
#Sustituye el valor nulo por el valor de la celda anterior, pues al ser un único valor no afecta el resultado estadisticamente
data2["host_verifications"]=data2["host_verifications"].fillna(method="ffill")

C:\Users\blanf\AppData\Local\Temp\ipykernel_21500\680659082.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_verifications"]=data2["host_verifications"].fillna(method="ffill")

In [31]:
#METODO5
#Sustituye el valor nulo por el valor de la celda anterior, pues al ser un único valor no afecta el resultado estadisticamente
data2["host_has_profile_pic"]=data2["host_has_profile_pic"].fillna(method="ffill")

C:\Users\blanf\AppData\Local\Temp\ipykernel_21500\1857176685.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_has_profile_pic"]=data2["host_has_profile_pic"].fillna(method="ffill")

In [32]:
#METODO5
#Sustituye el valor nulo por el valor de la celda anterior, pues al ser un único valor no afecta el resultado estadisticamente
data2["host_identity_verified"]=data2["host_identity_verified"].fillna(method="ffill")

C:\Users\blanf\AppData\Local\Temp\ipykernel_21500\3508659970.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_identity_verified"]=data2["host_identity_verified"].fillna(method="ffill")

In [ ]:
#METODO4
#Sustituir valores nulos con un string y se coloca Copehnague de manera generalizada
data2["neighbourhood"]=data2["neighbourhood"].fillna("Copehnague")

In [37]:
#METODO3
#Rellena  con un valor númerico, en este caso 1, ya que todos cuentan con al mneos un baño
data2['bathrooms']=data2['bathrooms'].fillna(1)

In [38]:
#METODO4
#Sustituir valores nulos con un string en este caso, 1 bath como preestablecido
data2["bathrooms_text"]=data2["bathrooms_text"].fillna("1 bath")

In [42]:
#METODO3
#Rellena  con un valor númerico, en este caso 1, ya que todos cuentan con al mneos un cuarto
data2['bedrooms']=data2['bedrooms'].fillna(1)

In [39]:
#METODO3
#Rellena  con un valor númerico, en este caso 1, ya que todos cuentan con al mneos una cama
data2['beds']=data2['beds'].fillna(1)

In [44]:
valores_nulos=data2.isnull().sum()          
valores_nulos.to_csv("aux1")

In [46]:
print(data2["price"].dtypes)

object

In [80]:
#Se utilizo el metodos de sustitucion de un entero ya que toda la columna se encontraba vacia, asignandole un valor estandarizado
data2['price']=data2['price'].fillna(100)

In [52]:
#METODO3
#Rellena  con un valor númerico 0, ya que toda la columna se encuentra vacia y es de tipo float
data2['calendar_updated']=data2['calendar_updated'].fillna(0)

In [53]:
#METODO4
#Sustituir valores nulos con un string f =false ya que al no tener respuesta, no se puede suponer un verdadero
data2["has_availability"]=data2["has_availability"].fillna("f")

In [54]:
#METODO4
#Sustituir valores nulos con una fecha de valor nulo
data2["last_review"]=data2["last_review"].fillna("2020-00-00")

In [65]:
#METODO1
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data2['review_scores_rating']=data2['review_scores_rating'].fillna(round(data2 ['review_scores_rating'].median(),2))

In [66]:
#METODO1
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data2['review_scores_cleanliness']=data2['review_scores_cleanliness'].fillna(round(data2 ['review_scores_cleanliness'].median(),2))

In [67]:
#METODO1
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data2['review_scores_checkin']=data2['review_scores_checkin'].fillna(round(data2 ['review_scores_checkin'].median(),2))

In [68]:
#METODO1
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data2['review_scores_communication']=data2['review_scores_communication'].fillna(round(data2 ['review_scores_communication'].median(),2))

In [69]:
#METODO1
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data2['review_scores_location']=data2['review_scores_location'].fillna(round(data2 ['review_scores_location'].median(),2))

In [70]:
#METODO1
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data2['review_scores_value']=data2['review_scores_value'].fillna(round(data2 ['review_scores_value'].median(),2))

In [71]:
#METODO1
#Sustiruye los valores nulos porla mediana manteniendo las estadisticas con distribucion normal de los reviws ajustadas
data2['reviews_per_month']=data2['reviews_per_month'].fillna(round(data2 ['reviews_per_month'].median(),2))

In [82]:
valores_nulos=data2.isnull().sum().sum()          
valores_nulos

np.int64(0)